# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.kmw9533_HW_week03.iml
# Datasource local storage ignored files
/../../../../../../../../:\spring2021\codeLab01\week03\kmw9533_HW_week03\.idea\.idea.kmw9533_HW_week03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
